<ion-content>
    <h1 align="center" style="color: black;">Add New Room</h1>

    <ion-list>
        <div class="pic">
            <div class="picBack">
                <img src="../../assets/upload-1118929_640.png" alt="">
            </div>
        </div>
        <ion-item>
            <ion-label position="floating" style="color:black;">Hotel Name</ion-label>
            <ion-input type="text" [(ngModel)]="hotel.name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating" style="color:black;">Price</ion-label>
            <ion-input [(ngModel)]="hotel.singlep"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating" style="color:black;">Phone Number</ion-label>
            <ion-input type="string" [(ngModel)]="hotel.phone"></ion-input>
        </ion-item>


        <ion-item>
            <ion-label position="floating" style="color:black;">Room Address</ion-label>
            <ion-input [(ngModel)]="hotel.address"></ion-input>
        </ion-item>

        <ion-item>

            <ion-label position="floating" style="color:black;">Room Description</ion-label>
            <ion-input [(ngModel)]="hotel.description"></ion-input>
        </ion-item>

        <ion-item >
            <ion-label position="floating">upload Image</ion-label>
            <ion-input [(ngModel)]="hotel.pic1"></ion-input>
        </ion-item>

    </ion-list>


    <button ion-button full (click)="addhotel(hotel)" full
        style="background-color: dodgerblue;width:100%;height:35px">Add</button>
</ion-content>